* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #6dd2ee;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("");
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Quicksand', sans-serif;
  color: white;
  transition: 2s;
  transition-timing-function: ease;
}

.HideMe {
  opacity: 0;
}

.temperature {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: 2s;
  transition-timing-function: ease;
}

.tempLeft {
  display: flex;
  float: left;
  background: rgba(130, 130, 130, 0.2);
  border-radius: 3px;
  padding: 5px;
}

.tempRight {
  display: flex;
  float: right;
  background: rgba(130, 130, 130, 0.2);
  border-radius: 3px;
  padding: 5px;
}

.temperature-degree {
  float: left;
}

.temperature-degree-feel {
  float: right;
}

.degree-section {
  display: block;
  align-items: center;
}

.degree-section span {
  margin: 0px 2px;
  font-size: 4vw;
}

.degree-section h2 {
  font-size: 6vw;
}

.description-section {
  display: block;
  width: 100%;
  font-size: 2.5vw;
}

.temperature-description {
  float: left;
  background: rgba(130, 130, 130, 0.2);
  border-radius: 3px;
  padding: 5px;
}

.feels-like-description {
  float: right;
  background: rgba(130, 130, 130, 0.2);
  border-radius: 3px;
  padding: 5px;
}

.location-section {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  max-width: 48%
}

.location-section h2 {
  font-size: 7vw;
  float: left;
  background: rgba(130, 130, 130, 0.2);
  border-radius: 3px;
  padding: 5px;
}

.credit-section {
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
  max-width: 48%;
}

.author-credit {
  float: right;
  display: block;
}

.author-credit a {
  color: white;
}

.author-credit a h2 {
  color: white;
  font-size: 3vw;
  padding: 5px;
  background: rgba(130, 130, 130, 0.2);
  border-radius: 3px;
  text-align: right;
}

.pexels-credit {
  float: right;
  display: block;
}

.pexels-credit a {
  color: white;
}

.pexels-credit a h3 {
  color: white;
  font-size: 2vw;
  padding: 5px;
  background: rgba(130, 130, 130, 0.2);
  border-radius: 3px;
  text-align: right;
}
